<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="EmailAccount" value="bpm@shry.net" />
    <add key="EmailPWD" value="slbhr7h/A89VADo8a/F+2Q==" />
    <add key="SMTPServer" value="smtp.ee-post.com" />
    <add key="SMTPPort" value="25" />
    <add key="AdminEmailsAdd" value="zhenyu_wu@shry.net;yuewen_zhang@shry.net;bin_zhang@shry.net"/>
    <add key="FinanceEmailsAdd" value="yineng_jin@shry.net;hongwei_qian@shry.net"/>
  </appSettings>
</configuration>
